/* ESTILOS HEADER */

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 40px;
}

/* Estilo para el contenedor del logo */
.logo img {
  height: 50px;
  width: auto;
}

nav ul {
  list-style: none;
  display: flex;
  gap: 15px;
  margin: 0;
  padding: 0;
}

nav ul li a {
  text-decoration: none;
  display: inline-block;
}

/* Estilo de los botones (Azul) */
button {
  background-color: #2b1eb1;
  color: white;
  border: none;
  padding: 10px 25px;
  border-radius: 15px;
  font-family: Arial, sans-serif;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

/* Efecto cuando pasa el mouse por encima */
button:hover {
  background-color: #1e158a;
  color: white;
}
button:active {
  background-color: #d1d5db;
  color: black;
}
button:focus {
  background-color: #d1d5db;
  color: black;
}

/*ESTILOS CONTENIDO*/

body {
  margin: 0;
  padding: 0;
}

/* Contenedor principal con fondo moradito */
.contenedor-principal {
  background-color: #d8dcfc;
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: calc(100vh - 140px);
  padding: 20px;
}

/* Espacio Informativo */
.espacio-informativo {
  width: 50%;
  height: 50%;
}

.cuadro-punteado {
  border: 2px dashed #a0a0ff;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #555;
  font-size: 1.5rem;
}

/* Sección de Login */
.seccion-login {
  width: 40%;
  text-align: center;
}

.seccion-login h2 {
  font-family: Arial, sans-serif;
  margin-bottom: 20px;
}

/* Tarjeta blanca redondeada */
.tarjeta-login {
  background-color: white;
  padding: 40px;
  border-radius: 30px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.campo {
  text-align: left;
  margin-bottom: 20px;
}

.campo label {
  display: block;
  font-weight: bold;
  margin-bottom: 8px;
  font-family: Arial, sans-serif;
}

/* Inputs grises redondeados */
.campo input {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 20px;
  background-color: #e8eaf6;
  box-sizing: border-box;
}

/* Botón Ingresar */
.btn-ingresar {
  background-color: #dbd7d7;
  color: black;
  border: none;
  padding: 10px 40px;
  border-radius: 15px;
  font-weight: bold;
  cursor: pointer;
  margin-top: 10px;
}

.btn-ingresar:hover {
  background-color: #c0bdbd;
  color: black;
}

/* ESTILOS FOOTER */

footer {
  background-color: #e0e0e0;
  padding: 15px 0;
  text-align: center;
  border-top: 1px solid #ccc;
  width: 100%;
  position: fixed;
  bottom: 0;
}

footer p {
  margin: 0;
  font-family: Arial, sans-serif;
  font-size: 14px;
  color: #333;
}
